<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<title>Abhishek Raina | {{ page.title }}</title>
	<link rel="shortcut icon" href="/img/logo.png">
	<!-- Bootstrap -->
	<!-- <link rel="stylesheet" type="text/css" href="/css/reset.css"> -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<!-- 	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"> -->
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom Stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/custom.css">
	<!-- Google Font -->
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:700italic|Lato:300italic'>
</head>
<body>
							<!-- Site Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div id="navbar_container" class="container">
		<!-- Button For Small Screen Navigation -->
			<div class="navbar-header">
				<a class="navbar-brand" href="{{ site.baseurl }}/">Abhishek Raina</a>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Menu</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul id="social_links" class="nav navbar-nav">
					<li><a id="new_tab" href="http://fb.com/abhiraina07"><img src="/img/facebook.png" alt="Facebook"></a></li>
					<li><a id="new_tab" href="http://twitter.com/GetSetAbhi"><img src="/img/twitter.png" alt="Twitter"></a></li>
					<li><a id="new_tab" href="http://github.com/GetSetAbhi"><img src="/img/github.png" alt="Github"></a></li>
					<li><a href="#RSS"><img src="/img/rss.png" alt="RSS"></a></li>
				</ul>
				<ul id="site_menu" class="nav navbar-right navbar-nav">
					<li><a href="{{ site.baseurl }}/">Home</a></li>
					<li><a href="/about/">About</a></li>
					<li><a href="/contact/">Contact</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</nav>
